build/
bin/Engined.ilk
bin/Engined.pdb
bin/imgui.ini
bin/Engine.iobj
bin/Engine.ipdb
bin/Engine.pdb
bin/Engined.exp
bin/Engined.exp
bin/Settings.cap
bin/results.cpuprofile
bin/Engined.exp
max/max*
*.VC.db
*.orig
*.opendb
bin/data/navmeshes/*.data
